<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>






# Project: Analyze the census, crime, and school data for the City of Chicago
You will be working on a real world dataset provided by the Chicago Data Portal. Imagine, you have been hired by a non-profit organization that strives to improve educational outcomes for children and youth in the City of Chicago. Your job is to analyze the census, crime, and school data for a given neighborhood or district. You will identify causes that impact the enrollment, safety, health, environment ratings of schools.

You will be asked questions that will help you understand the data just like a data analyst or data scientist would. You will be assessed both on the correctness of your SQL queries and results.

# Step-By-Step project Instructions
Download the datasets provided, load them into a database, write and execute SQL queries to answer the problems provided.

This project involves 3 datasets for the city of Chicago obtained from the Chicago Data Portal:

### 1. Chicago Socioeconomic Indicators

This dataset contains a selection of six socioeconomic indicators of public health significance and a hardship index, by Chicago community area, for the years 2008 â€“ 2012.

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year.

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.




### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa==0.3.7

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa==0.3.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ibm_db_sa==0.3.7) (3.1.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ibm_db_sa==0.3.7) (1.3.9)

In [2]:
%load_ext sql

In [3]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://wzw37676:KRQB7UMmc2zYQ6Vm@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb?security=SSL

'Connected: wzw37676@bludb'

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether they were created

In [4]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
%sql select tabschema, tabname, create_time from syscat.tables where tabschema='WZW37676' and tabname like 'CHICAGO%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('WZW37676', 'CHICAGO_CENSUS_DATA', datetime.datetime(2021, 12, 11, 21, 7, 33, 884384)),
 ('WZW37676', 'CHICAGO_CRIME_DATA', datetime.datetime(2021, 12, 11, 21, 8, 24, 18412)),
 ('WZW37676', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2021, 12, 11, 21, 10, 25, 981027)),
 ('WZW37676', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2021, 12, 9, 21, 9, 16, 99730))]

### Query the database system catalog to retrieve column metadata

##### The CHICAGO tables contain a large number of columns. How many columns does this table have?

In [5]:
%%sql
SELECT COUNT(*)
FROM SYSCAT.COLUMNS
WHERE TABNAME='CHICAGO_CENSUS_DATA'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(9,)]

In [6]:
%%sql
SELECT COUNT(*)
FROM SYSCAT.COLUMNS
WHERE TABNAME='CHICAGO_CRIME_DATA'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(21,)]

In [7]:
%%sql
SELECT COUNT(*)
FROM SYSCAT.COLUMNS
WHERE TABNAME='CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(78,)]

# 3. Write and execute queries


### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [8]:
%%sql
SELECT COUNT(*)
FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(533,)]


### Problem 2: List community areas with per capita income less than 11000.

In [9]:
%%sql
SELECT TABNAME, COLNAME
FROM SYSCAT.COLUMNS
WHERE UPPER(COLNAME) LIKE '%INCOME%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('CHICAGO_CENSUS_DATA', 'PER_CAPITA_INCOME'),
 ('CHICAGO_SOCIOECONOMIC_DATA', 'PER_CAPITA_INCOME_')]

In [10]:
%%sql
SELECT TABNAME, COLNAME
FROM SYSCAT.COLUMNS
WHERE UPPER(COLNAME) LIKE '%AREA_NAME%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('CHICAGO_CENSUS_DATA', 'COMMUNITY_AREA_NAME'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COMMUNITY_AREA_NAME'),
 ('CHICAGO_SOCIOECONOMIC_DATA', 'COMMUNITY_AREA_NAME'),
 ('SCHOOLS', 'COMMUNITY_AREA_NAME')]

In [11]:
%%sql
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME
FROM CHICAGO_CENSUS_DATA
WHERE PER_CAPITA_INCOME < 11000

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3: List all case numbers for crimes involving minors?

In [12]:
%%sql
SELECT TABNAME, COLNAME
FROM SYSCAT.COLUMNS
WHERE UPPER(COLNAME) LIKE '%CASE%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('SQLTYPEINFO', 'CASE_SENSITIVE'), ('CHICAGO_CRIME_DATA', 'CASE_NUMBER')]

In [13]:
%%sql
SELECT PRIMARY_TYPE,CASE_NUMBER
FROM CHICAGO_CRIME_DATA 
WHERE PRIMARY_TYPE LIKE '%OFFENSE INVOLVI%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('OFFENSE INVOLVI', 'HN567387'),
 ('OFFENSE INVOLVI', 'HR391350'),
 ('OFFENSE INVOLVI', 'HM768251'),
 ('OFFENSE INVOLVI', 'HT394616')]


### Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [14]:
%%sql
SELECT PRIMARY_TYPE,CASE_NUMBER
FROM CHICAGO_CRIME_DATA 
WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('KIDNAPPING', 'HN144152')]


### Problem 5: What kind of crimes were recorded at schools?

In [20]:
%%sql
SELECT  DISTINCT(PRIMARY_TYPE) 
FROM CHICAGO_CRIME_DATA
WHERE UPPER(LOCATION_DESCRIPTION) LIKE '%SCHOOL%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]


### Problem 6: List the average safety score for all types of schools.

In [22]:
%%sql
SELECT COLNAME, TABNAME FROM SYSCAT.COLUMNS WHERE UPPER(COLNAME) LIKE '%SCORE%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('ENVIRONMENT_SCORE', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('FAMILY_INVOLVEMENT_SCORE', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('INSTRUCTION_SCORE', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('LEADERS_SCORE', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('PARENT_ENGAGEMENT_SCORE', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('PARENT_ENVIRONMENT_SCORE', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('SAFETY_SCORE', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('TEACHERS_SCORE', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('TEST_SCORE', 'INTERNATIONAL_STUDENT_TEST_SCORES'),
 ('ENVIRONMENT_SCORE', 'SCHOOLS'),
 ('FAMILY_INVOLVEMENT_SCORE', 'SCHOOLS'),
 ('INSTRUCTION_SCORE', 'SCHOOLS'),
 ('LEADERS_SCORE', 'SCHOOLS'),
 ('PARENT_ENGAGEMENT_SCORE', 'SCHOOLS'),
 ('PARENT_ENVIRONMENT_SCORE', 'SCHOOLS'),
 ('SAFETY_SCORE', 'SCHOOLS'),
 ('TEACHERS_SCORE', 'SCHOOLS')]

In [49]:
%%sql
SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School"

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7: List 5 community areas with highest % of households below poverty line.

In [51]:
%%sql
SELECT COLNAME, TABNAME 
FROM SYSCAT.COLUMNS 
WHERE UPPER(COLNAME) LIKE '%HOUSEHOLD%'
OR UPPER(COLNAME) LIKE '%AREA%'

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('COMMUNITY_AREA_NAME', 'CHICAGO_CENSUS_DATA'),
 ('COMMUNITY_AREA_NUMBER', 'CHICAGO_CENSUS_DATA'),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'CHICAGO_CENSUS_DATA'),
 ('COMMUNITY_AREA_NUMBER', 'CHICAGO_CRIME_DATA'),
 ('COMMUNITY_AREA_NAME', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('COMMUNITY_AREA_NUMBER', 'CHICAGO_PUBLIC_SCHOOLS'),
 ('COMMUNITY_AREA_NAME', 'CHICAGO_SOCIOECONOMIC_DATA'),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'CHICAGO_SOCIOECONOMIC_DATA'),
 ('COMMUNITY_AREA_NAME', 'SCHOOLS'),
 ('COMMUNITY_AREA_NUMBER', 'SCHOOLS')]

In [54]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM CHICAGO_CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
FETCH FIRST 5 ROWS ONLY

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]


### Problem 8: Which community area(number) is most crime prone?

In [66]:
%%sql
SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA
GROUP BY  COMMUNITY_AREA_NUMBER
ORDER BY COUNT(*) DESC 
LIMIT 1

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(25,)]

### Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [69]:
%%sql
SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX 
FROM CHICAGO_CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CHICAGO_CENSUS_DATA)

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('Riverdale', 98)]

### Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [72]:
%%sql
SELECT COMMUNITY_AREA_NAME 
FROM CHICAGO_CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER IN (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA GROUP BY  COMMUNITY_AREA_NUMBER ORDER BY COUNT(*) DESC  LIMIT 1)

 * ibm_db_sa://wzw37676:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('Austin',)]